

	body{
		overflow: hidden;
		background-color: lavender;
		font-family: serif;
		margin: 0px;
	}
	#main{
		display: block;
		text-align: right;
		background-image: url(https://cdn.pixabay.com/photo/2016/01/19/14/50/desk-1148994_1280.jpg);
		background-position: 0 40%;
		width: 100%;
		padding-top: 120px;
		padding-bottom: 80px;
		color: white;
		text-shadow: 1px 1px 2px black;
		font-size: 60px;
	}
	span{
		margin-right: 100px;
	}
