

	body{
		/*overflow: hidden;*/
		background-color: lavender;
		font-family: serif;
		margin: 0px;
	}
	#main{
		display: block;
		overflow: hidden;
		text-align: right;
		background-image: url(https://cdn.pixabay.com/photo/2016/01/19/14/50/desk-1148994_1280.jpg);
		background-position: 0 35%;
		width: 100%;
		padding-top: 200px;
		padding-bottom: 180px;
		margin-top: 0px;
		margin-bottom: 3000px;
		color: white;
		text-shadow: 1px 1px 2px black;
		font-size: 40px;
	}
	span{
		margin-right: 100px;
	}
	a{
		color: white;
		text-decoration: none;
	}
	a:link,a:visited{
		color: white;
	}

	.panel{
		display: block;
		position: fixed;
		overflow: hidden;
		background-color: rgba(176,196,222,0.3);
		width: 100%;
		height: 70px;
		top: 0px;
	}
	.button1,.button2,.button3{
		display: inline-block;

	body{
		margin: 0px;
		background-color: silver;
		font-family: serif;
	}

	#list{
		text-align: right;
		/*background-color: royalblue;*/
		padding: 0px;
		margin: 0px;
	}
	#check,#close{
		display: none;
	}
	#open{
		/*display: inline;
		cursor: pointer;*/

		display: inline-block;
		background-color: aliceblue;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 20px;
		margin-right: 30px;
		font-size: 35px;
		border-radius: 10px;
		box-shadow: 1px 1px 3px black;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

	}
	#open:hover{
		opacity: 0.8;
	}



	#close,nav{
		position: fixed;
		left: 0px;
		top: 0px;
		height: 100%;
	}
	#close{
		z-index: 2;
		/*background-color: gray;*/
		width: 100%;
		opacity: 0.8;
		transition: 0.5s;
	}
	nav{
		z-index: 3;
		background-color: rgba(240,248,255,1);
		width: 300px;
		transition: 0.5s;
		transform: translateX(-100%);
	}
	#check:checked ~ #close{
		display: block;
	}
	#check:checked ~ nav{
		transform: translateX(0);
	}

	/*#push{
		display: inline-block;
		background-color: aliceblue;
		padding-left: 10px;
		padding-right: 10px;
		margin-right: 30px;
		font-size: 35px;
		border-radius: 10px;
		box-shadow: 1px 1px 3px black;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

	}*/
	.button{
		overflow: hidden;
		text-align: left;
	}
	.ahref{
		display: inline-block;
		/*background-color: salmon;*/
		text-decoration: none;
		margin-top: 40px;
		margin-left: 60px;
		font-size: 25px;
		text-shadow: 1px 1px 1px gray;
	}
	.ahref:hover{
		opacity: 0.5;
	}
	.ahref:link,.ahref:visited{
		color: black;
	}
		text-align: right;
		/*background-color: salmon;*/
		width: 170px;
		padding-top: 22px;
		padding-bottom: 9px;
		padding-right: 20px;
		margin-left: 0px;
		margin-right: 0px;
		font-size: 25px;
		text-shadow: 1px 1px 2px black;
	}
	.button1{
		margin-left: 20px;
	}
