

	.list{
		display: block;
		width: 100%;
		text-align: right;
		position: fixed;
		/*background-color: royalblue;*/
		margin-top: 0px;
		padding: 0px;
		margin: 0px;
	}
	#check01,#close01{
		display: none;
	}
	#open01{
		display: inline-block;
		text-align: right;
		background-color: aliceblue;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 40px;
		padding-right: 40px;
		margin-top: 50px;
		margin-right: 50px;
		font-size: 50px;
		font-family: sans-serif;
		border-radius: 200px;
		box-shadow: 1px 1px 2px black;

		/*display: inline-block;
		text-align: left;
		background-color: aliceblue;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 30px;
		margin-right: 30px;
		font-size: 20px;
		color: black;
		border-radius: 10px;
		box-shadow: 1px 1px 3px black;*/

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	#open01:hover{
		opacity: 0.8;
	}

	#close01,nav{
		position: fixed;
		left: 0px;
		top: 0px;
		height: 100%;
	}
	#close01{
		z-index: 2;
		background-color: gray;
		width: 100%;
		opacity: 0.8;
		transition: 0.5s;
	}
	nav{
		z-index: 3;
		background-color: rgba(240,248,255,1);
		width: 300px;
		margin-left: 20px;
		transition: 0.5s;
		transform: translateX(-350px);
	}

	#check01:checked ~ #close01{
		display: block;
	}

	#check01:checked ~ nav{
		transform: translate(0);
	}

	.button{
		text-align: left;
		font-family: serif;
	}
	p{
		margin-top: 30px;
		margin-left: 50px;
	}
















